<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
<servlet>
  	<servlet-name>greet</servlet-name>
  	<servlet-class>com.manoj.web.Sample</servlet-class>

  </servlet>
  <servlet-mapping>
  	<servlet-name>greet</servlet-name>
  	<url-pattern>/add</url-pattern>
  </servlet-mapping>
  
    <servlet>
  	<servlet-name>square</servlet-name>
  	<servlet-class>com.manoj.web.SquareSum</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>square</servlet-name>
  	<url-pattern>/square</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>context</servlet-name>
  	<servlet-class>com.manoj.web.ServletconfigAndContext</servlet-class>
  	
  	<init-param>
  		<param-name>name</param-name>
  		<param-value>Kumar</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>context</servlet-name>
  	<url-pattern>/context</url-pattern>
  </servlet-mapping>
  
  <context-param>
  	<param-name>name</param-name>
  	<param-value>"Manojkumar"</param-value>
  </context-param>
  <context-param>
  	<param-name>Department</param-name>
  	<param-value>Mechatronics</param-value>
  </context-param> 
</web-app>